.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 30px 0;

}

.card__active {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.card > div {
  width: 100%;
  text-align: center;
}

.card__type {
  padding: 8px 0;
  font-size: 18px;
  color: white;
  border-bottom: 2px solid white;
}

.card__type-active {
  padding: 20px 0;
  margin-top: -10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__price {
  padding: 40px 0;
  font-size: 24px;
  color: white;
}

.card__speed {
  padding: 10px 0;
  background-color: rgb(246, 245, 245);
}

.card__info {
  padding: 5px 0;
  background-color: rgb(230, 234, 234);
}
