.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 30px 0;
}

.card:hover {
  cursor: pointer;
}

.card__active {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.card > div {
  width: 100%;
  text-align: center;
}

.card__type {
  padding: 8px 0;
  font-size: 18px;
  color: white;
  border-bottom: 2px solid white;
}

.card__type-active {
  padding: 20px 0;
  margin-top: -10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__price {
  padding: 40px 0;
  font-size: 24px;
  color: white;
}

.card__speed {
  padding: 10px 0;
  background-color: rgb(246, 245, 245);
}

.card__info {
  padding: 5px 0;
  background-color: rgb(230, 234, 234);
}

.color-type300 {
  background-color: #00BFFF;
}

.color-price300 {
  background-color: #87CEFA;
}

.color-type450 {
  background-color: #48D1CC;
}

.color-price450 {
  background-color: #40E0D0;
}

.color-type550 {
  background-color: #FF6347;
}

.color-price550 {
  background-color: #FF7F50;
}

.color-type1000 {
  background-color: #000000;
}

.color-price1000 {
  background-color: #3c3c3c;
}

